fastapi
uvicorn
numpy
sentence-transformers
supabase
python-dotenv
pypdf
scikit-learn
# opsional spaCy (lebih akurat untuk EN). Boleh dilepas kalau ingin ringan.
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
