# --- Wajib untuk PyTorch versi CPU ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
# ------------------------------------

fastapi
uvicorn
supabase
sentence-transformers
python-dotenv
pypdf
scikit-learn
pysbd # Library untuk sentence splitting yang ringan dan akurat